*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
    transition: all 0.4s ease-in;
    
}
nav a:active, nav a:hover {
    color: gold;
}

.container {
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
}

.row h3 {
    text-align: center;
    font-size: 2rem;
    color: slateblue;
}

/* card */
.card {
    width: 100%;
    padding: 10px;
    height: 100%;
}

.card .card-body {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.card form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .form-input {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.form-input .form-control {
    padding: 10px 12px;
    width: 100%;
    font-size: 1.1rem;
}

.form-input label {
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 800;
}

.btn {
    padding: 12px 14px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-success {
    background-color: green;
    color: #fff;
}

.btn-danger {
    background-color: red;
    color: #fff;
}

.btn-info {
    background-color: blue;
    color: #fff;
}

.center {
    text-align: center;
}

.btn-group {
    display: flex;
    gap: 10px;
    border: none;
}

table {
    width: 80%;
    table-layout: fixed;
    margin: auto;
    font-size: 1.1em;
}

table,tr,th,td {
    border: 1px solid #222;
    border-collapse: collapse;
} 

td,th {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #888;
    color: #fff;
}